<div class="container">
  <div class="row">
    <div class="cols-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastro Aluno</h5>
          <mdb-form-control>
            <input mdbInput type="text" id="form1" class="form-control" />
            <label mdbLabel class="form-label" for="form1">Nome Aluno</label>
          </mdb-form-control>
          <button type="button" class="btn btn-primary" (click)="cadastrarAluno()">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>
